parameters:
	ignoreErrors:
		-
			message: '#^Comparison operation "\>\=" between int\<80500, 80599\> and 80500 is always true\.$#'
			identifier: greaterOrEqual.alwaysTrue
			count: 2
			path: config/database.php

		-
			message: '#^Parameter \#1 \$string of function rtrim expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/filesystems.php
