<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         beStrictAboutCoverageMetadata="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Architecture">
            <directory>tests/Architecture</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing" force="true"/>
        <env name="APP_KEY" value="base64:0000000000000000000000000000000000000000000=" force="true"/>
        <env name="DB_CONNECTION" value="central" force="true"/>
        <env name="DB_CENTRAL_HOST" value="mysql-test" force="true"/>
        <env name="DB_CENTRAL_PORT" value="3306" force="true"/>
        <env name="DB_CENTRAL_DATABASE" value="api_kit_test_central"/>
        <env name="DB_CENTRAL_USERNAME" value="api_kit" force="true"/>
        <env name="DB_CENTRAL_PASSWORD" value="testsecret" force="true"/>
        <env name="DB_TENANT_HOST" value="mysql-test" force="true"/>
        <env name="DB_TENANT_USERNAME" value="api_kit" force="true"/>
        <env name="DB_TENANT_PASSWORD" value="testsecret" force="true"/>
        <env name="DB_TENANT_PREFIX" value="api_kit_test_tenant_" force="true"/>
        <env name="CACHE_STORE" value="redis" force="true"/>
        <env name="QUEUE_CONNECTION" value="sync" force="true"/>
        <env name="REDIS_HOST" value="redis-test" force="true"/>
        <env name="SESSION_DRIVER" value="array" force="true"/>
        <env name="MAIL_MAILER" value="array" force="true"/>
        <env name="SCOUT_DRIVER" value="null" force="true"/>
        <env name="TENANCY_CENTRAL_DOMAINS" value="api.test" force="true"/>
    </php>
</phpunit>
